/**
 * Description: reauired, the file description, reference link, etc.
 * Created Date: 2021-03-15 3:11:50 PM
 * Author: Liu Man <lm@hcttop.com>
 * -----
 * Last Modified: 2021-03-15, 3:11:50 PM
 * Modified By: Liu Man <lm@hcttop.com>
 */

#app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sidebarWidth;
    position: relative;
    padding-top: $navbarHeight;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sidebarWidth !important;
    // background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    // top: 0;
    top: $navbarHeight;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      // height: 100%;
      height: calc(100% - #{$navbarHeight + $hamburgerHeight});
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;

      .el-menu-item,
      .el-submenu__title,
      .nest-menu .el-submenu > .el-submenu__title {
        margin: 0px 10px 0px;
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
      }

      & .el-menu-item:first-child,
      & .el-submenu:first-child {
        margin-top: 10px;
      }

      .nest-menu .el-menu-item,
      .nest-menu .el-submenu > .el-submenu__title {
        padding-left: 50px !important;
      }
    }
  }

  // 主题色配置
  .sidebar-container {
    // 浅色
    &.light {
      background-color: $menuBgLight;

      .el-menu-item:focus {
        background-color: transparent;
      }

      .el-menu-item.is-active,
      .nest-menu .el-submenu > .el-submenu__title.is-active,
      .el-submenu.is-active > .el-submenu__title,
      .nest-menu .el-menu-item.is-active {
        background-color: $--color-white !important;
        box-shadow: 0px 2px 8px 0px $--color-black-a08;
      }

      // menu hover
      .submenu-title-noDropdown,
      .el-submenu__title {
        &:hover {
          background-color: $menuHoverLight !important;
        }
      }

      // subMenu
      & .nest-menu .el-submenu > .el-submenu__title,
      & .el-submenu .el-menu-item {
        // min-width: $sidebarWidth !important;
        background-color: $subMenuBgLight !important;

        &:hover {
          background-color: $subMenuHoverLight !important;
        }
      }

      .is-active > .el-submenu__title {
        color: $subMenuActiveTextLight !important;
      }
    }

    // 深色
    &.dark {
      background-color: $menuBgDark;

      // focus
      .el-menu-item:focus {
        background-color: transparent;
      }

      .el-menu-item.is-active,
      .nest-menu .el-submenu > .el-submenu__title.is-active,
      .el-submenu.is-active > .el-submenu__title,
      .nest-menu .el-menu-item.is-active {
        background: $--color-dark-primary;
        box-shadow: 0px 2px 8px 0px $--color-dark-primary-a2;
        color: $--color-dark-8 !important;
      }

      // // menu hover
      // .submenu-title-noDropdown,
      // .el-submenu__title {
      //   &:hover {
      //     background-color: $menuHoverDark !important;
      //   }
      // }

      // // subMenu
      // & .nest-menu .el-submenu > .el-submenu__title,
      // & .el-submenu .el-menu-item {
      //   // min-width: $sidebarWidth !important;
      //   background-color: $subMenuBgDark !important;

      //   &:hover {
      //     background-color: $subMenuHoverDark !important;
      //   }
      // }

      // .is-active > .el-submenu__title {
      //   color: $subMenuActiveTextDark !important;
      // }
    }

    // 蓝色
    &.blue {
      background-color: $menuBgBlue;
      .hamburger-container {
        background: #14345d;
      }
      .el-submenu__title,
      .el-menu-item {
        color: $--color-blue-icon-off;
        i {
          color: $--color-blue-icon-off;
        }
      }

      // focus
      .el-menu-item:focus {
        background-color: transparent;
      }

      .el-menu-item.is-active,
      .nest-menu .el-submenu > .el-submenu__title.is-active,
      .el-submenu.is-active > .el-submenu__title,
      .nest-menu .el-menu-item.is-active {
        background: $--color-blue-primary;
        // box-shadow: 0px 2px 8px 0px $--color-blue-primary-a2;
        color: $--color-blue-8 !important;
      }

      // menu hover
      .submenu-title-noDropdown,
      .el-submenu__title {
        &:hover {
          background: rgba(234, 237, 242, 0.1);
          color: white;
          // background-color: $menuHoverBlue !important;
        }
      }

      // subMenu
      & .nest-menu .el-submenu > .el-submenu__title,
      & .el-submenu .el-menu-item {
        // min-width: $sidebarWidth !important;
        // background-color: $subMenuBgBlue !important;

        &:hover {
          background: rgba(234, 237, 242, 0.1);
          color: white;
          // background-color: $subMenuHoverBlue !important;
        }
      }

      .is-active > .el-submenu__title {
        color: $subMenuActiveTextBlue !important;
      }
    }

    // 绿色
    &.green {
      background-color: $menuBgLight;

      .el-menu-item:focus {
        background-color: transparent;
      }

      .el-menu-item.is-active,
      .nest-menu .el-submenu > .el-submenu__title.is-active,
      .el-submenu.is-active > .el-submenu__title,
      .nest-menu .el-menu-item.is-active {
        background-color: $--color-white !important;
        box-shadow: 0px 2px 8px 0px $--color-black-a08;
      }

      // menu hover
      .submenu-title-noDropdown,
      .el-submenu__title {
        &:hover {
          background-color: $menuHoverLight !important;
        }
      }

      // subMenu
      & .nest-menu .el-submenu > .el-submenu__title,
      & .el-submenu .el-menu-item {
        // min-width: $sidebarWidth !important;
        background-color: $subMenuBgLight !important;

        &:hover {
          background-color: $subMenuHoverLight !important;
        }
      }

      .is-active > .el-submenu__title {
        color: $subMenuActiveTextLight !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $sidebarCollapseWidth !important;
    }

    .main-container {
      margin-left: $sidebarCollapseWidth;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
        transition: all 1s;
        .svg-icon {
          margin-left: 10px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 10px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sidebarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sidebarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sidebarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

.light {
  .el-menu--vertical {
    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHoverLight !important;
      }
    }
  }
}
.dark {
  .el-menu--vertical {
    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHoverDark !important;
      }
    }
  }
}
